:root {
  // Colours
  --hemocyanin: #180048;
  --ice: #f0ffff;
  --plum: #600e6b;
  --purpleHaze: #a49fc8;
  --siphon: #100030;
  --sohoLights: #f050f8;

  // Container
  --container-max-w: 80rem;
  --container-padding: 1.5rem;

  // Grid
  --column-gutter: 1.5rem;
}
