@import 'variables';
@import 'mixins';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Gotham, helvetica, arial, sans-serif;
  color: var(--ice);
}

body,
#__next {
  display: flex;
  flex-direction: column;
}

body {
  background: var(--siphon);
  min-height: 100vh;
}

#__next {
  flex: 1;
}
