@import 'variables';
@import 'mixins';
@import 'animations';
@import 'reset';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Gotham, helvetica, arial, sans-serif;
  color: var(--ice);
}

body,
#__next {
  display: flex;
  flex-direction: column;
}

body {
  background: var(--siphon);
  min-height: 100vh;
}

#__next {
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.75em;
  font-weight: 500;
}

h1 {
  font-size: 1.6rem;
  font-weight: 400;

  @include md-up {
    font-size: 2rem;
  }
}

h2 {
  font-size: 1.25rem;

  @include md-up {
    font-size: 1.5rem;
  }
}

a {
  color: var(--sohoLights);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

[hidden] {
  display: none !important;
}
